@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  background-color: #d8decc;
}
.main-height {
  height: calc(100vh - 10.5rem);
}
.link-active {
  color: #c69b6d;
  font-weight: bold;
}

@layer utilities {
  @keyframes slideDown {
    0% {
      transform: translateY(-10px); /* Start 10px above */
      opacity: 0;
    }
    100% {
      transform: translateY(0); /* End at the original position */
      opacity: 1;
    }
  }
  .animate-slide-left {
    animation: slideLeft 0.5s ease-out forwards;
  }
  .animate-slide-left-delay {
    visibility: hidden; /* Hide the element initially */
    animation: slideLeftDelay 0.5s ease-out 0.5s forwards; /* Delay animation */
    animation-fill-mode: forwards;
  }
  @keyframes slideLeft {
    from {
      transform: translateX(-40%);
    }
    to {
      transform: translateX(0);
    }
  }
  @keyframes slideLeftDelay {
    0% {
      visibility: visible; /* Make visible at the start of the animation */
      transform: translateX(-20%);
    }
    100% {
      visibility: visible;
      transform: translateX(0);
    }
  }
}
