@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  background-color: #d8decc;
}
.main-height {
  height: calc(100vh - 10.5rem);
}
.link-active {
  color: #c69b6d;
  font-weight: bold;
}
